/node_modules
/public/hot
/public/storage
/public/public
/storage/*.key
/vendor
/reports
.env
.env.backup
.env.production
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
